<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>test-mvc</display-name>
	<servlet>
		<servlet-name>springapp</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>springapp</servlet-name>
		<url-pattern>*.htm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>springapp</servlet-name>
		<url-pattern>/actions/*</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>/WEB-INF/jsp/index.jsp</welcome-file>
	</welcome-file-list>
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>
	<!-- on peu faire plein de truc avec ce site -->
	<!-- https://docs.oracle.com/cd/E21764_01/web.1111/e13712/web_xml.htm#WBAPP557 -->
	<!-- <jsp-config> -->
	<!-- <jsp-property-group> -->
	<!-- <description>Toutes les pages</description> -->

	<!-- pages concernées par ces propriétés -->
	<!-- <url-pattern>/WEB-INF/jsp/*.jsp</url-pattern> -->

	<!-- encodage de sortie de ces pages -->
	<!-- <page-encoding>UTF-8</page-encoding> -->

	<!-- page(s) à inclure avant -->
	<!-- <include-prelude>/WEB-INF/jsp/loginMenu.jsp</include-prelude> -->

	<!-- </jsp-property-group> -->

	<!-- </jsp-config> -->


</web-app>